
* {
    box-sizing: border-box;
 
}
.imageTransition {
    
    width: 250px;
    height: 150px;
    transition: 2s;
}

.imageTransition:hover {
    width: 290px;
    height: 200px;
}

.skill {
    width: 150px;
   
    
}

.btn-info {
    margin-right: 2px;
}

.btnn {
    margin-bottom: 20px;
}

.go {
    height: 300px;
}

.img-fluid {
    width: 100%;
}

.skillTitle {
    color: sandybrown;
    font-weight: 400px;
    font-family:Georgia, 'Times New Roman', Times, serif;
 
}

#logodonat:hover {
    color: blue;
}


/* navbar */
.main-link:hover {
    background-color: tomato;
    border-radius: 3px;
}

.bg-darker {
    background-color:darkslategray;
}

.banner {
    background-image: url("../images/image6.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 650px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 100%;
    
}

.banner-text {
   padding-top: 200px;
    color: black !important;
    
}

/* About section style */

.about-img {
    width:20%;
}



.downloadDiv {
    
    border: 2px tomato solid;
    border-radius: 15px;
    width:15%;
}

.downloadDiv:hover {
    background-color: tomato;
}

.contact {
    width: 60%;
    margin-bottom: 20px;
}

/* footer style */
.section-title {
    color: black !important;
}
.footer-logo:hover {
    color: black !important;
    text-decoration: none;
    
 
}

.logo-text {
    padding: 0 25% 0 25%;
    text-align: justify;
}
.social-icon {
    padding:7px;
    border:2px solid black;
    border-radius: 50px;
  border-color: blue;
 
}

.social-icon:hover {
    background-color:tomato;
}

.social-icons {
    display: none;
}

.intro {
    padding-right: 40%;
    padding-left: 10%;
    text-align: justify;
}